/* SCSS Elements */
/* Fonts */
.opensans, body[role=index].rsow, body[role=index].rsow div.masthead div.header a h1, body[role=index].rsow > section div.content div.tabs a.tab strong {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif; }

.condensed, body[role=index].rsow > section div.hero div.mask div.container div.site div.text h1, body[role=index].rsow > section div.hero div.mask div.container div.site div.text h2, body[role=index].rsow > section div.hero div.mask div.container div.post div.text h1, body[role=index].rsow > section div.content div.canvas div.post h1, body[role=index].rsow > section div.content div.canvas div.post h2, body[role=index].rsow > section div.content div.canvas div.post div.date strong, body[role=index].rsow > footer div.top div.latest div.post div.text p, body[role=index].rsow > footer div.bottom ul li.logo {
  font-family: 'Open Sans Condensed', sans-serif, Arial; }

.adventpro, body[role=index].rsow div.masthead div.navbar div.menu, body[role=index].rsow > section div.hero div.mask div.container div.site div.text p, body[role=index].rsow > section div.hero div.mask div.container div.post div.text h5, body[role=index].rsow > section div.hero div.mask div.container div.post div.text p, body[role=index].rsow > section div.content div.tabs a.tab small, body[role=index].rsow > section div.content div.canvas div.sidebar div.entry h4, body[role=index].rsow > section div.content div.canvas div.post h5, body[role=index].rsow > footer div.top h5 {
  font-family: 'Advent Pro', sans-serif; }

/* Any Resets Required */
* {
  margin: 0;
  padding: 0; }

.center {
  text-align: center; }

/* Sticky footer */
html, body {
  height: 100%; }
  html section, body section {
    min-height: 100%;
    margin-bottom: -241px; }
    html section:after, body section:after {
      content: "";
      display: block; }
  html section:after, html footer, body section:after, body footer {
    height: 241px; }

.right {
  float: right; }

.left {
  float: left; }

.hidden {
  display: none; }

/* Column system */
.columns {
  clear: both;
  overflow: auto;
  margin-top: 15px; }
  .columns.first-of-type {
    margin-top: 0; }
  .columns .col {
    float: left; }
    .columns .col.c10 {
      width: 10%; }
    .columns .col.c20 {
      width: 20%; }
    .columns .col.c30 {
      width: 30%; }
    .columns .col.c40 {
      width: 40%; }
    .columns .col.c50 {
      width: 50%; }
    .columns .col.c60 {
      width: 60%; }
    .columns .col.c70 {
      width: 70%; }
    .columns .col.c80 {
      width: 80%; }
    .columns .col.c90 {
      width: 90%; }

body[role=index].rsow {
  background: #ffffff;
  font-weight: 400; }
  body[role=index].rsow a {
    color: #155ECA;
    text-decoration: none; }
    body[role=index].rsow a:hover {
      text-decoration: underline; }
    body[role=index].rsow a:visited {
      color: #155ECA; }
  body[role=index].rsow hr {
    border: 0;
    border-top: 1px solid #bebebe;
    margin: 10px 0;
    clear: both; }
  body[role=index].rsow div.masthead div.header {
    border-top: 6px solid #4b4b4b;
    border-bottom: 1px solid #b3b3b3;
    background: #dddddd url(/images/header-background.png) top center no-repeat;
    padding-top: 5px;
    height: 52px; }
    body[role=index].rsow div.masthead div.header div.google-search {
      width: 300px; }
      body[role=index].rsow div.masthead div.header div.google-search div.gsc-control-cse {
        border: none;
        background: none;
        padding: 0;
        margin-top: 8px; }
    body[role=index].rsow div.masthead div.header a {
      color: #848484; }
      body[role=index].rsow div.masthead div.header a:hover {
        text-decoration: none;
        color: #000000; }
      body[role=index].rsow div.masthead div.header a h1 {
        font-size: 40px;
        font-weight: 300; }
  body[role=index].rsow div.masthead div.navbar {
    border-top: 1px solid #ececea;
    background: #e4e4e4 url(/images/navbar-background.png) top center no-repeat;
    background-size: 100% 100%;
    overflow: auto; }
    body[role=index].rsow div.masthead div.navbar div.menu {
      font-size: 20px; }
      body[role=index].rsow div.masthead div.navbar div.menu a, body[role=index].rsow div.masthead div.navbar div.menu .item {
        float: left;
        color: #848484;
        text-decoration: none;
        padding: 0 15px;
        line-height: 45px;
        cursor: pointer; }
        body[role=index].rsow div.masthead div.navbar div.menu a:hover, body[role=index].rsow div.masthead div.navbar div.menu .item:hover {
          color: #000000; }
        body[role=index].rsow div.masthead div.navbar div.menu a.right, body[role=index].rsow div.masthead div.navbar div.menu .item.right {
          float: right; }
        body[role=index].rsow div.masthead div.navbar div.menu a div.menu, body[role=index].rsow div.masthead div.navbar div.menu .item div.menu {
          position: absolute;
          width: 250px;
          background: #e4e4e3;
          border: 1px solid #b7b7b7;
          padding: 10px 0;
          z-index: 10; }
          body[role=index].rsow div.masthead div.navbar div.menu a div.menu a, body[role=index].rsow div.masthead div.navbar div.menu a div.menu .item, body[role=index].rsow div.masthead div.navbar div.menu .item div.menu a, body[role=index].rsow div.masthead div.navbar div.menu .item div.menu .item {
            display: block;
            float: none;
            line-height: 25px; }
            body[role=index].rsow div.masthead div.navbar div.menu a div.menu a.right, body[role=index].rsow div.masthead div.navbar div.menu a div.menu .item.right, body[role=index].rsow div.masthead div.navbar div.menu .item div.menu a.right, body[role=index].rsow div.masthead div.navbar div.menu .item div.menu .item.right {
              float: right; }
  body[role=index].rsow > section div.hero {
    height: 418px;
    background: url(/images/hero-background.png) top center repeat-x;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #0e4f7e; }
    body[role=index].rsow > section div.hero.mini {
      height: 200px; }
    body[role=index].rsow > section div.hero div.mask {
      position: absolute;
      top: 1px;
      left: 0;
      right: 0;
      bottom: 0;
      background: url(/images/hero-background-mask.png) top center no-repeat; }
      body[role=index].rsow > section div.hero div.mask a.navigation {
        position: absolute;
        top: 50%;
        margin-top: -40px;
        color: rgba(255, 255, 255, 0.2); }
        body[role=index].rsow > section div.hero div.mask a.navigation:hover {
          color: rgba(255, 255, 255, 0.8); }
        body[role=index].rsow > section div.hero div.mask a.navigation.right {
          right: 10px; }
        body[role=index].rsow > section div.hero div.mask a.navigation.left {
          left: 10px; }
      body[role=index].rsow > section div.hero div.mask div.container {
        position: relative; }
        body[role=index].rsow > section div.hero div.mask div.container div.site {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          -moz-opacity: 0;
          -khtml-opacity: 0;
          -webkit-opacity: 0;
          opacity: 0; }
          body[role=index].rsow > section div.hero div.mask div.container div.site.showing {
            left: 0;
            right: 0;
            -moz-opacity: 1;
            -khtml-opacity: 1;
            -webkit-opacity: 1;
            opacity: 1;
            z-index: 5; }
          body[role=index].rsow > section div.hero div.mask div.container div.site.waiting {
            display: none;
            -moz-opacity: 0;
            -khtml-opacity: 0;
            -webkit-opacity: 0;
            opacity: 0; }
          body[role=index].rsow > section div.hero div.mask div.container div.site.left {
            left: -250px;
            right: 250px;
            z-index: 2; }
          body[role=index].rsow > section div.hero div.mask div.container div.site.right {
            left: 250px;
            right: -250px;
            z-index: 2; }
          body[role=index].rsow > section div.hero div.mask div.container div.site div.text {
            position: absolute;
            top: 40px;
            color: #ffffff;
            width: 400px; }
            body[role=index].rsow > section div.hero div.mask div.container div.site div.text h1 {
              font-size: 50px;
              font-weight: 300; }
            body[role=index].rsow > section div.hero div.mask div.container div.site div.text h2 {
              font-size: 35px;
              font-weight: 300; }
            body[role=index].rsow > section div.hero div.mask div.container div.site div.text p {
              font-size: 20px;
              margin-top: 20px; }
            body[role=index].rsow > section div.hero div.mask div.container div.site div.text a.visit {
              width: 168px;
              height: 45px;
              background: url(/images/portfolio-visit-button.png) top center no-repeat;
              display: inline-block;
              line-height: 48px;
              text-align: center;
              color: #ffffff;
              font-weight: 500;
              margin-top: 20px; }
          body[role=index].rsow > section div.hero div.mask div.container div.site img.website {
            position: absolute;
            right: -70px;
            top: -5px; }
        body[role=index].rsow > section div.hero div.mask div.container div.post {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 5; }
          body[role=index].rsow > section div.hero div.mask div.container div.post div.text {
            position: absolute;
            top: 10px;
            left: 10px;
            color: #ffffff;
            width: 600px; }
            body[role=index].rsow > section div.hero div.mask div.container div.post div.text h1 {
              font-size: 30px;
              font-weight: 300; }
            body[role=index].rsow > section div.hero div.mask div.container div.post div.text h5 {
              font-weight: 300;
              font-size: 14px;
              margin: 3px 0 15px 0; }
              body[role=index].rsow > section div.hero div.mask div.container div.post div.text h5 i.icon {
                margin-left: 10px;
                color: #dedede; }
                body[role=index].rsow > section div.hero div.mask div.container div.post div.text h5 i.icon:first-of-type {
                  margin-left: 0; }
            body[role=index].rsow > section div.hero div.mask div.container div.post div.text p {
              font-size: 18px;
              margin-top: 12px; }
            body[role=index].rsow > section div.hero div.mask div.container div.post div.text a {
              color: #ffffff; }
              body[role=index].rsow > section div.hero div.mask div.container div.post div.text a.visit {
                width: 120px;
                height: 30px;
                background: url(/images/portfolio-visit-button.png) top center no-repeat;
                display: inline-block;
                line-height: 32px;
                text-align: center;
                font-weight: 500;
                margin-top: 5px;
                background-size: 120px 30px; }
          body[role=index].rsow > section div.hero div.mask div.container div.post ol, body[role=index].rsow > section div.hero div.mask div.container div.post ul {
            margin-left: 20px; }
          body[role=index].rsow > section div.hero div.mask div.container div.post div.thumb {
            width: 373px;
            height: 233px;
            position: absolute;
            right: -10px;
            top: -12px;
            background: url(/images/portfolio-cards.png) top center no-repeat; }
            body[role=index].rsow > section div.hero div.mask div.container div.post div.thumb img.banner {
              position: absolute;
              top: 34px;
              left: 49px;
              z-index: 1; }
            body[role=index].rsow > section div.hero div.mask div.container div.post div.thumb div.inner {
              position: absolute;
              top: 45px;
              left: 59px;
              right: 65px;
              bottom: 54px;
              overflow: hidden; }
              body[role=index].rsow > section div.hero div.mask div.container div.post div.thumb div.inner img {
                position: absolute;
                margin-top: -50%;
                top: 75%;
                width: 100%; }
  body[role=index].rsow > section div.content {
    min-height: 600px;
    background: url(/images/body-background.png) top center repeat-x; }
    body[role=index].rsow > section div.content div.tabs {
      height: 70px;
      padding: 20px 65px 0 65px;
      background: url(/images/portfolio-tabs.png) top center no-repeat;
      background-position: 0 31px; }
      body[role=index].rsow > section div.content div.tabs a.tab {
        cursor: pointer;
        position: relative;
        width: 197px;
        height: 58px;
        margin-top: 12px;
        margin-left: -4px;
        display: inline-block;
        border-right: 1px solid #bcbcbc; }
        body[role=index].rsow > section div.content div.tabs a.tab:first-child {
          margin-left: 0;
          -webkit-border-top-left-radius: 5px;
          -moz-border-radius-topleft: 5px;
          border-top-left-radius: 5px; }
        body[role=index].rsow > section div.content div.tabs a.tab:last-child {
          width: 196px;
          border-right: none;
          -webkit-border-top-right-radius: 5px;
          -moz-border-radius-topright: 5px;
          border-top-right-radius: 5px; }
        body[role=index].rsow > section div.content div.tabs a.tab span.icon {
          display: inline-block;
          width: 50px;
          height: 50px;
          background: url(/images/portfolio-icons.png) no-repeat;
          margin: 5px 0 0 5px; }
          body[role=index].rsow > section div.content div.tabs a.tab span.icon.computer {
            background-position: -463px -99px; }
          body[role=index].rsow > section div.content div.tabs a.tab span.icon.marketing {
            background-position: -158px -2px; }
          body[role=index].rsow > section div.content div.tabs a.tab span.icon.consulting {
            background-position: -270px -99px; }
          body[role=index].rsow > section div.content div.tabs a.tab span.icon.support {
            background-position: -359px -1px; }
        body[role=index].rsow > section div.content div.tabs a.tab strong {
          position: absolute;
          top: 10px;
          left: 60px;
          font-size: 16px;
          white-space: nowrap;
          font-weight: 500;
          color: #9b9b9b; }
        body[role=index].rsow > section div.content div.tabs a.tab small {
          color: #9b9b9b;
          position: absolute;
          top: 31px;
          left: 60px;
          white-space: nowrap; }
        body[role=index].rsow > section div.content div.tabs a.tab:hover, body[role=index].rsow > section div.content div.tabs a.tab.active {
          background: url(/images/portfolio-tab-highlight.png) top center no-repeat;
          background-size: 100% 100%; }
          body[role=index].rsow > section div.content div.tabs a.tab:hover span.icon.computer, body[role=index].rsow > section div.content div.tabs a.tab.active span.icon.computer {
            background-position: -413px -99px; }
          body[role=index].rsow > section div.content div.tabs a.tab:hover span.icon.marketing, body[role=index].rsow > section div.content div.tabs a.tab.active span.icon.marketing {
            background-position: -108px -2px; }
          body[role=index].rsow > section div.content div.tabs a.tab:hover span.icon.consulting, body[role=index].rsow > section div.content div.tabs a.tab.active span.icon.consulting {
            background-position: -220px -99px; }
          body[role=index].rsow > section div.content div.tabs a.tab:hover span.icon.support, body[role=index].rsow > section div.content div.tabs a.tab.active span.icon.support {
            background-position: -309px -1px; }
          body[role=index].rsow > section div.content div.tabs a.tab:hover strong, body[role=index].rsow > section div.content div.tabs a.tab.active strong {
            color: #d05606; }
          body[role=index].rsow > section div.content div.tabs a.tab:hover small, body[role=index].rsow > section div.content div.tabs a.tab.active small {
            color: #5c6458; }
    body[role=index].rsow > section div.content div.canvas {
      color: #4b4d4a;
      min-height: 600px;
      background: url(/images/body-content-background.png) top center no-repeat;
      padding: 20px; }
      body[role=index].rsow > section div.content div.canvas a.previous-post {
        opacity: 0.8;
        position: fixed;
        margin-left: -100px;
        top: 465px;
        color: #F3F3F3; }
        body[role=index].rsow > section div.content div.canvas a.previous-post:hover {
          color: #888888; }
      body[role=index].rsow > section div.content div.canvas a.next-post {
        opacity: 0.8;
        position: fixed;
        margin-right: -100px;
        top: 465px;
        color: #F3F3F3;
        margin-left: 950px; }
        body[role=index].rsow > section div.content div.canvas a.next-post:hover {
          color: #888888; }
      body[role=index].rsow > section div.content div.canvas div.category {
        font-family: 'Advent Pro', sans-serif;
        font-size: 20px;
        color: #888888;
        margin-bottom: 20px; }
        body[role=index].rsow > section div.content div.canvas div.category span {
          color: #4b4b4a; }
        body[role=index].rsow > section div.content div.canvas div.category i {
          color: #dedede; }
      body[role=index].rsow > section div.content div.canvas div.sidebar {
        width: 200px;
        margin-left: 20px;
        margin-bottom: 20px;
        background: #f0f0f0;
        border: 1px solid #e8e8e8; }
        body[role=index].rsow > section div.content div.canvas div.sidebar p {
          margin: 10px; }
        body[role=index].rsow > section div.content div.canvas div.sidebar div.entry {
          padding-bottom: 10px;
          margin-bottom: 10px;
          border-bottom: 1px solid #f6f6f6; }
          body[role=index].rsow > section div.content div.canvas div.sidebar div.entry:last-child {
            padding-bottom: 0;
            margin-bottom: 0;
            border-bottom: none; }
          body[role=index].rsow > section div.content div.canvas div.sidebar div.entry h4 {
            font-size: 20px;
            margin: 10px 0 10px 10px; }
            body[role=index].rsow > section div.content div.canvas div.sidebar div.entry h4 span {
              color: #888888; }
          body[role=index].rsow > section div.content div.canvas div.sidebar div.entry ul {
            margin-bottom: 0;
            margin-left: 0px; }
            body[role=index].rsow > section div.content div.canvas div.sidebar div.entry ul li {
              margin-left: 20px;
              list-style: none; }
      body[role=index].rsow > section div.content div.canvas div.post {
        margin-bottom: 30px; }
        body[role=index].rsow > section div.content div.canvas div.post h1 {
          line-height: 30px; }
          body[role=index].rsow > section div.content div.canvas div.post h1 a {
            color: #4b4d4a; }
        body[role=index].rsow > section div.content div.canvas div.post h5 {
          font-weight: 300;
          font-size: 14px;
          margin: 3px 0 15px 0; }
          body[role=index].rsow > section div.content div.canvas div.post h5 i.icon {
            margin-left: 10px;
            color: #dedede; }
            body[role=index].rsow > section div.content div.canvas div.post h5 i.icon:first-of-type {
              margin-left: 0; }
        body[role=index].rsow > section div.content div.canvas div.post p {
          margin-bottom: 10px; }
          body[role=index].rsow > section div.content div.canvas div.post p a img {
            margin: 5px;
            text-align: center; }
          body[role=index].rsow > section div.content div.canvas div.post p a span {
            text-align: center;
            font-size: 14px;
            display: block; }
        body[role=index].rsow > section div.content div.canvas div.post img.scaled {
          max-width: 300px; }
        body[role=index].rsow > section div.content div.canvas div.post ol, body[role=index].rsow > section div.content div.canvas div.post ul {
          margin-left: 20px;
          margin-bottom: 20px; }
        body[role=index].rsow > section div.content div.canvas div.post div.highlight {
          margin: 0px 20px 30px 20px; }
          body[role=index].rsow > section div.content div.canvas div.post div.highlight pre {
            white-space: pre-wrap; }
        body[role=index].rsow > section div.content div.canvas div.post div.thumb {
          float: left;
          margin-right: 10px; }
          body[role=index].rsow > section div.content div.canvas div.post div.thumb img {
            padding: 1px;
            margin: 3px 0 0 3px;
            border: 1px solid #e4e4e3; }
        body[role=index].rsow > section div.content div.canvas div.post div.prevnext {
          margin-top: 8px;
          margin-right: 30px; }
          body[role=index].rsow > section div.content div.canvas div.post div.prevnext small:last-of-type {
            margin-left: 10px; }
        body[role=index].rsow > section div.content div.canvas div.post div.date {
          position: relative;
          width: 60px;
          height: 40px;
          text-align: right; }
          body[role=index].rsow > section div.content div.canvas div.post div.date strong {
            position: absolute;
            font-weight: 300; }
            body[role=index].rsow > section div.content div.canvas div.post div.date strong.day {
              top: 0;
              left: 0;
              font-size: 40px;
              line-height: 40px; }
            body[role=index].rsow > section div.content div.canvas div.post div.date strong.year {
              right: 0;
              bottom: 0; }
            body[role=index].rsow > section div.content div.canvas div.post div.date strong.month {
              right: 0;
              top: 0; }
        body[role=index].rsow > section div.content div.canvas div.post div.half {
          width: 50%; }
        body[role=index].rsow > section div.content div.canvas div.post div.gallery {
          clear: both;
          padding-top: 5px; }
          body[role=index].rsow > section div.content div.canvas div.post div.gallery > div.inner a img.thumb.small {
            width: 180px;
            height: 120px; }
          body[role=index].rsow > section div.content div.canvas div.post div.gallery > div.inner a img.thumb.large {
            width: 458px;
            height: 305px; }
        body[role=index].rsow > section div.content div.canvas div.post.design, body[role=index].rsow > section div.content div.canvas div.post.marketing, body[role=index].rsow > section div.content div.canvas div.post.consulting, body[role=index].rsow > section div.content div.canvas div.post.support {
          display: none; }
          body[role=index].rsow > section div.content div.canvas div.post.design.active, body[role=index].rsow > section div.content div.canvas div.post.marketing.active, body[role=index].rsow > section div.content div.canvas div.post.consulting.active, body[role=index].rsow > section div.content div.canvas div.post.support.active {
            display: block; }
          body[role=index].rsow > section div.content div.canvas div.post.design div.portfolio-cards, body[role=index].rsow > section div.content div.canvas div.post.marketing div.portfolio-cards, body[role=index].rsow > section div.content div.canvas div.post.consulting div.portfolio-cards, body[role=index].rsow > section div.content div.canvas div.post.support div.portfolio-cards {
            background: url(/images/portfolio-cards.png) no-repeat; }
          body[role=index].rsow > section div.content div.canvas div.post.design div.clear, body[role=index].rsow > section div.content div.canvas div.post.marketing div.clear, body[role=index].rsow > section div.content div.canvas div.post.consulting div.clear, body[role=index].rsow > section div.content div.canvas div.post.support div.clear {
            clear: left; }
        body[role=index].rsow > section div.content div.canvas div.post table {
          border-collapse: collapse;
          width: 100%;
          margin-bottom: 10px; }
          body[role=index].rsow > section div.content div.canvas div.post table th, body[role=index].rsow > section div.content div.canvas div.post table td {
            border: 1px solid #eeeeee;
            padding: 4px; }
            body[role=index].rsow > section div.content div.canvas div.post table th:first-of-type, body[role=index].rsow > section div.content div.canvas div.post table td:first-of-type {
              padding-left: 2px; }
            body[role=index].rsow > section div.content div.canvas div.post table th:last-of-type, body[role=index].rsow > section div.content div.canvas div.post table td:last-of-type {
              padding-right: 2px; }
          body[role=index].rsow > section div.content div.canvas div.post table th {
            background: #EEEEEE; }
    body[role=index].rsow > section div.content div.pagination {
      float: right;
      padding-bottom: 15px; }
      body[role=index].rsow > section div.content div.pagination a {
        font-weight: 300;
        font-size: 14px;
        margin: 10px 0; }
  body[role=index].rsow > footer {
    clear: both; }
    body[role=index].rsow > footer div.top {
      color: #f0f0f0;
      min-height: 210px;
      background: #4b4d4a url(/images/footer-top-background.png) top center repeat-x;
      overflow: auto; }
      body[role=index].rsow > footer div.top h5 {
        font-size: 12px;
        margin-top: 5px;
        text-decoration: underline; }
      body[role=index].rsow > footer div.top div.latest {
        float: left;
        padding-top: 10px;
        width: 60%; }
        body[role=index].rsow > footer div.top div.latest div.post {
          margin: 5px 0; }
          body[role=index].rsow > footer div.top div.latest div.post div.text span.pill {
            width: 39px;
            height: 17px;
            line-height: 17px;
            font-size: 10px;
            font-weight: 800;
            background: url(/images/footer-pill.png) top center no-repeat;
            text-align: center;
            display: inline-block;
            font-style: italic;
            padding-right: 2px; }
          body[role=index].rsow > footer div.top div.latest div.post div.text a {
            color: #f0f0f0;
            font-size: 12px;
            font-weight: 800; }
          body[role=index].rsow > footer div.top div.latest div.post div.text p {
            font-size: 13px;
            font-weight: 300;
            padding-top: 2px;
            margin-left: 8px; }
      body[role=index].rsow > footer div.top div.spacer {
        float: left;
        width: 1px;
        height: 180px;
        margin-left: 20px;
        margin-top: 20px;
        background: #A5A5A5; }
      body[role=index].rsow > footer div.top div.youtube {
        padding-top: 10px;
        margin-left: 20px;
        width: 35%;
        float: right; }
    body[role=index].rsow > footer div.bottom {
      color: #848484;
      height: 30px;
      border-top: 1px solid #ffffff;
      background: #dcdcda; }
      body[role=index].rsow > footer div.bottom ul.menu {
        text-transform: uppercase; }
        body[role=index].rsow > footer div.bottom ul.menu li {
          margin-left: 20px; }
          body[role=index].rsow > footer div.bottom ul.menu li.github {
            margin-left: 5px; }
          body[role=index].rsow > footer div.bottom ul.menu li a {
            color: #848484; }
            body[role=index].rsow > footer div.bottom ul.menu li a.linkedin, body[role=index].rsow > footer div.bottom ul.menu li a.github {
              margin-top: 2px;
              line-height: 0; }
      body[role=index].rsow > footer div.bottom ul li {
        float: left;
        list-style: none;
        font-size: 10px;
        line-height: 30px;
        color: #848484; }
        body[role=index].rsow > footer div.bottom ul li.logo {
          font-weight: 800;
          font-size: 14px; }
        body[role=index].rsow > footer div.bottom ul li.copyright {
          margin-left: 20px; }

@media (min-width: 1200px) {
  div.container {
    width: 960px;
    margin: auto; } }
@media (min-width: 980px) and (max-width: 1199px) {
  div.container {
    width: 960px;
    margin: auto; } }
@media (min-width: 768px) and (max-width: 979px) {
  div.masthead div.header a h1 {
    font-size: 34px !important; }

  div.hero.frontpage div.post div.text {
    width: 400px !important; }
    div.hero.frontpage div.post div.text a.visit {
      display: none !important; }
    div.hero.frontpage div.post div.text p {
      font-size: 15px !important; }

  div.container {
    width: 740px;
    margin: auto; }
    div.container div.site img.website {
      top: 65px !important;
      width: 60%; }
    div.container div.tabs {
      padding: 20px 0 0 0 !important;
      background-size: 894px 60px !important;
      background-position: -59px 31px !important; }
      div.container div.tabs a.tab {
        width: 184px !important; }
        div.container div.tabs a.tab small {
          font-size: 12px; }
    div.container div.canvas {
      background-size: 740px auto !important; }

  footer a.github, footer a.linkedin {
    display: none; }
  footer div.latest {
    width: 410px !important; } }
@media (max-width: 767px) {
  div.masthead div.header a h1 {
    margin: 0 10px;
    font-size: 34px !important; }

  div.tabs {
    display: none; }

  div.hero.frontpage div.post div.thumb {
    display: none !important; }
  div.hero.frontpage div.post div.text {
    width: 100% !important; }

  div.google-search {
    width: 200px !important; }
    div.google-search td.gsc-search-button {
      display: none; }

  footer a.github, footer a.linkedin {
    display: none; }
  footer div.latest, footer div.grok {
    width: initial !important;
    margin: 10px 40px; }
    footer div.latest a.we-grok, footer div.grok a.we-grok {
      display: block;
      text-align: center; } }
@media (max-width: 680px) {
  div.masthead div.header a h1 {
    margin: 0 10px;
    font-size: 30px !important; }

  div.tabs {
    display: none; }

  div.hero.frontpage div.post div.thumb {
    display: none !important; }
  div.hero.frontpage div.post div.text {
    width: 100% !important; }

  div.google-search {
    display: none; }

  footer ul.menu {
    display: none; }
  footer div.latest {
    width: initial !important;
    margin: 10px 40px; }
  footer div.top div.spacer {
    display: none; }
  footer div.top div.youtube {
    margin-left: 40px !important;
    float: none !important; } }
@media (max-width: 480px) {
  div.masthead div.header a h1 {
    margin: 0 10px;
    font-size: 26px !important; }

  div.tabs {
    display: none; }

  div.hero.frontpage div.post div.thumb {
    display: none !important; }
  div.hero.frontpage div.post div.text {
    width: 100% !important; }
    div.hero.frontpage div.post div.text h1 {
      font-size: 25px !important;
      line-height: 25px; }
    div.hero.frontpage div.post div.text p {
      font-size: 15px !important; }

  div.sidebar {
    display: none;
    width: 100% !important;
    margin-left: 0 !important;
    float: none !important; }

  div.google-search {
    display: none; }

  footer ul.menu {
    display: none; }
  footer div.latest {
    width: initial !important;
    margin: 10px 40px; }
  footer div.youtube {
    display: none; }
  footer div.spacer {
    display: none; } }
